/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding-top: 0px; /* Espacio para la navbar fija */
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}



.navegation .link:hover {
    color: #007bff;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 70px;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.featured-products {
    text-align: center;
    padding: 50px 0;
}

.featured-products .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    margin: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.categories .category-card {
    text-align: center;
    margin: 20px 0;
}

.categories .category-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.testimonials {
    text-align: center;
    padding: 50px 0;
}

.testimonial-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.blog .blog-card {
    text-align: center;
    margin: 20px 0;
}

.blog .blog-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer .link:hover {
    text-decoration: underline;
}
